# systemd service file to start Node-RED

[Unit]
Description=Node-RED Instance 1 on hubMID
Wants=network.target
Documentation=http://nodered.org/docs/hardware/raspberrypi.html

[Service]
Type=simple
User=operator1
Group=operator1
WorkingDirectory=/home/operator1
EnvironmentFile=-/home/operator1/.node-red/environment
# NODE_RED_OPTIONS можно задать в файле окружения для указания порта
ExecStart=/usr/bin/env node-red-pi $NODE_OPTIONS $NODE_RED_OPTIONS

# Use SIGINT to stop
KillSignal=SIGINT
# Auto restart on crash
Restart=on-failure
RestartSec=10
# Tag things in the log
SyslogIdentifier=nodered1

[Install]
WantedBy=multi-user.target
